# Configurações do Servidor
NODE_ENV=production
PORT=3000

# Segurança
SESSION_SECRET=sua-chave-super-secreta-aqui

# MongoDB
MONGODB_URI=mongodb://admin:admin@164.68.109.41:3080/?tls=false

# Configurações de Upload
MAX_FILE_SIZE=5242880
UPLOAD_PATH=./public/uploads

# Configurações de Log
LOG_LEVEL=info
LOG_FILE=./logs/app.log
